* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 600px;
  width: 400px;
  border: 3px solid rgb(0, 0, 0);
  margin-top: 90px;
  box-shadow: rgb(70, 71, 71) 3px 3px 6px 0px ;
}
.icon {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  height: 53px;
  padding: 15px;
  margin-bottom: 0;
  background-color: rgb(182, 178, 178);
  color: white;
  }
  
.image img {
  height: 200px;
  width: 100%;
}

.tittle {
  background-color: rgb(3, 3, 3);
  padding: 59px;
  margin-top: -5px;
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Playwrite CL", cursive;
  font-size: 10px;
}
.tittle:hover{
  cursor: pointer;
  background-color: rgb(241, 234, 234);
  color: rgb(0, 0, 0);
}
.all{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.text{
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin-top: 30px;
  font-family: "Playwrite FR Moderne", cursive;
}
b{
color: rgb(219, 11, 11);
}
.heading{
  text-align: center;
  font-family: "Playwrite FR Moderne", cursive;
  font-size: 35px;
  background-color: rgb(0, 0, 0);
  color: white;
}